@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&subset=latin-ext");
nav {
  position: fixed;
  display: none;
  top: 80px;
  right: 0px;
  padding: 25px 0;
  width: 100%;
  z-index: 2;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
  padding: 5px 0;
  cursor: pointer;
  background-color: #E8770C;
  border-bottom: 1px dotted #fff;
}

nav ul li a {
  display: block;
  font-family: 'Roboto';
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
}

nav ul li:last-child {
  border-bottom: 0px;
}

nav.active {
  display: block;
}

div.logo {
  width: 100vw;
  text-align: center;
}

div.logo img {
  width: 160px;
  padding: 2vw;
}

h1.nameCompany {
  position: relative;
  left: 0;
  top: -1px;
  text-align: center;
  letter-spacing: 5px;
  color: #0F37A8;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 1em;
}

h1.nameCompany::after {
  position: absolute;
  left: calc(50vw - 80px);
  top: 0px;
  content: '';
  width: 160px;
  height: 1px;
  background-color: #0f37a8;
}

h1.nameCompany::before {
  position: absolute;
  left: calc(50vw - 80px);
  top: 20px;
  content: '';
  width: 160px;
  height: 1px;
  background-color: #0f37a8;
}

div.burger i {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: #0F37A8;
  background-color: #fff;
  padding: 5px 7px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  div.logo {
    min-height: 150px;
  }
  div.logo img {
    width: 200px;
    position: fixed;
    left: 5px;
    top: 0;
  }
  h1.nameCompany::after {
    top: 25px;
    left: 0px;
    width: 160px;
  }
  h1.nameCompany {
    position: fixed;
    left: 27px;
    top: 92px;
  }
}

.hero {
  margin-top: 20px;
  overflow: hidden;
}

.hero img {
  width: 55vh;
  height: 35vh;
}

.company {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

.company h1 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #E8770C;
}

.company h2, .company p {
  padding: 0 30px;
  background-color: #f7f7f7;
}

.company h2 {
  padding-top: 30px;
  font-weight: 400;
  color: #E8770C;
}

.company p {
  text-align: justify;
}

.company button.etude {
  display: block;
  margin: 0 auto;
  width: 30vw;
}

.company button.etude.active, .company button.production.active, .company button.quality.active {
  display: none;
}

.company img {
  padding-top: 20px;
  width: 80vw;
  height: 52vw;
}

.company .more_1, .company .more_2, .company .more_3 {
  display: none;
}

section.contact {
  text-align: center;
}

section.contact form, section.contact textarea {
  width: 80vw;
  margin: 0 auto;
}

section.contact form input, section.contact textarea input {
  width: 80vw;
  margin: 10px 0;
  line-height: 25px;
}

section.contact h3 {
  padding: 20px 0 10px 0;
  color: #E8770C;
}

section.contact h3 .input_form {
  width: 80vw;
}

section.contact div.map {
  margin: 0 auto;
  width: 80vw;
}

footer {
  position: relative;
  background-color: #252726;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 15px 0;
  color: white;
}

footer div.ads_container {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

footer div.ads_container a.ads {
  font-size: 10px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}
/*# sourceMappingURL=style.css.map */